;; Analyzed by ClojureScript 1.7.228
{:name clojure.core.matrix.impl.sequence, :doc "Namepace implementing selected core.matrix protocols for clojure sequences.\n\n   WARNING: baecause they lack efficient indexed access, sequences are not efficient for many\n   array operations. In general they should be converted to other implementations before use.", :excludes #{}, :use-macros {scalar-coerce clojure.core.matrix.macros, error clojure.core.matrix.macros}, :require-macros {clojure.core.matrix.macros clojure.core.matrix.macros}, :uses nil, :requires {mp clojure.core.matrix.protocols, clojure.core.matrix.protocols clojure.core.matrix.protocols, imp clojure.core.matrix.implementations, clojure.core.matrix.implementations clojure.core.matrix.implementations}, :imports nil, :cljs.analyzer/constants {:seen #{:else :sequence :doc}, :order [:sequence :doc :else]}}